### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Gradle / Kotlin / JVM
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.hprof

### IDE
.idea/
*.iml
.kotlin/

### IntelliJ Platform Gradle Plugin provisioning cache
.intellijPlatform/